.nav1 {
  width: 100%;
  background-color: transparent;
}

.text-16 {
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
}

.nav1-logo-wrapper {
  display: inline-block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 11px 25px;
  float: none;
  border-radius: 4px;
  background-color: #1991eb;
  -webkit-transition: color 200ms ease, box-shadow 200ms ease, background-color 200ms ease, -webkit-transform 400ms ease;
  transition: color 200ms ease, box-shadow 200ms ease, background-color 200ms ease, -webkit-transform 400ms ease;
  transition: color 200ms ease, box-shadow 200ms ease, background-color 200ms ease, transform 400ms ease;
  transition: color 200ms ease, box-shadow 200ms ease, background-color 200ms ease, transform 400ms ease, -webkit-transform 400ms ease;
  color: #fff;
  line-height: 24px;
  text-align: center;
}

.btn:hover {
  border-color: #0c6eb8;
  background-color: #1386dd;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
  color: #fff;
}

.btn:active {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translate(0px, -1px);
  -ms-transform: translate(0px, -1px);
  transform: translate(0px, -1px);
}

.btn.btn-outline-dark {
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.2);
  background-color: hsla(0, 0%, 100%, 0.1);
  -webkit-transition: color 200ms ease, box-shadow 200ms ease, background-color 200ms ease, border 200ms ease, -webkit-transform 400ms ease;
  transition: color 200ms ease, box-shadow 200ms ease, background-color 200ms ease, border 200ms ease, -webkit-transform 400ms ease;
  transition: color 200ms ease, box-shadow 200ms ease, background-color 200ms ease, transform 400ms ease, border 200ms ease;
  transition: color 200ms ease, box-shadow 200ms ease, background-color 200ms ease, transform 400ms ease, border 200ms ease, -webkit-transform 400ms ease;
}

.btn.btn-outline-dark:hover {
  border-color: hsla(0, 0%, 100%, 0.5);
}

.wrap {
  display: block;
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.wrap._w-custom.nav1-dark {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrap.w80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.nav1-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-14 {
  line-height: 24px;
}

.text-14.text-14-60 {
  opacity: 0.6;
}

._4-col {
  display: inline-block;
  width: 300px;
  margin-right: 20px;
}

._4-col._4-col-last {
  display: inline-block;
  margin-right: 0px;
}

.tagline {
  opacity: 0.6;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.headline-8-col {
  width: 650px;
  margin-bottom: 50px;
}

.content1-image {
  height: 340px;
  margin-bottom: 30px;
  border-radius: 8px;
}

.content1-image.content1-image3 {
  background-image: url('../images/Services1-Image2.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.content1-image.content1-image2 {
  background-image: url('../images/Services1-Image3.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.content1-image.content1-image1 {
  background-image: url('../images/Services1-Image1.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.decoline {
  width: 30px;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #d2d2d2;
}

.decoline.decoline-dark {
  background-color: hsla(0, 0%, 82.4%, 0.2);
}

.content1-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.content1-item-description {
  padding-right: 40px;
}

.section-dark {
  background-color: #242424;
  color: #fff;
}

.link-dark {
  opacity: 0.6;
  -webkit-transition: color 400ms ease, opacity 400ms ease, -webkit-transform 400ms ease;
  transition: color 400ms ease, opacity 400ms ease, -webkit-transform 400ms ease;
  transition: color 400ms ease, transform 400ms ease, opacity 400ms ease;
  transition: color 400ms ease, transform 400ms ease, opacity 400ms ease, -webkit-transform 400ms ease;
  color: #fff;
  line-height: 24px;
}

.link-dark:hover {
  opacity: 1;
  color: #fff;
}

.link-dark:active {
  opacity: 0.9;
}

.link-dark.navigation1-link-dark {
  margin-right: 30px;
  opacity: 0.8;
}

.link-dark.navigation1-link-dark:hover {
  opacity: 1;
}

.link-dark.navigation1-link-dark:active {
  opacity: 0.9;
  -webkit-transform: translate(0px, -1px);
  -ms-transform: translate(0px, -1px);
  transform: translate(0px, -1px);
}

.nav1-menu-wrapper-dark {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-dark-2 {
  background-color: #242424;
  color: #fff;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@media screen and (max-width: 991px) {
  .nav1-menu-btn {
    margin-right: 30px;
    padding: 0px;
    background-color: transparent;
  }
  .nav1-menu-btn:active {
    background-color: transparent;
  }
  .nav1-menu-btn.w--open {
    margin-right: 30px;
    background-color: transparent;
  }
  .nav1-logo-wrapper {
    display: inline-block;
    margin-left: 30px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .wrap {
    width: 645px;
  }
  .wrap._w-custom.nav1-dark {
    display: block;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    background-color: #111212;
  }
  .nav1-wrap {
    padding-top: 29px;
    padding-bottom: 29px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  ._4-col {
    display: inline-block;
    width: 100%;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
  }
  ._4-col._4-col-last {
    margin-right: auto;
    margin-bottom: 0px;
  }
  .headline-8-col {
    width: auto;
    text-align: center;
  }
  .content1-image.content1-image2 {
    background-position: 50% 62%;
  }
  .decoline {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .content1-items {
    margin-bottom: -30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .content1-item-description {
    margin-bottom: 30px;
    padding-right: 0px;
    text-align: center;
  }
  .section-dark {
    padding-right: 0px;
    padding-left: 0px;
  }
  .link-dark.navigation1-link-dark {
    margin-right: 0px;
    padding: 20px;
  }
  .nav1-menu-wrapper-dark {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #111212;
  }
  .section-dark-2 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .nav1-menu-icon {
    margin-bottom: 3px;
  }
}

@media screen and (max-width: 767px) {
  .nav1 {
    z-index: 10;
  }
  .nav1-menu-btn {
    margin-top: -4px;
    padding: 0px;
  }
  .nav1-menu-btn.w--open {
    margin-top: -4px;
  }
  .nav1-logo-wrapper {
    display: inline-block;
  }
  .wrap {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  .btn {
    display: block;
    text-align: center;
  }
}