.html-embed {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  margin-right: 20px;
  -o-object-fit: fill;
  object-fit: fill;
}

.form-block-left {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  width: 20%;
  margin: 0px 0px 0px 20px;
  padding-top: 20px;
  padding-left: 0px;
}

.div-block {
  position: relative;
  width: 100%;
  margin-right: 0px;
  margin-left: 10px;
  padding-right: 0px;
  -o-object-fit: fill;
  object-fit: fill;
}

.field-label {
  position: relative;
  color: #2e2e2e;
  font-weight: 700;
  text-align: left;
}

.field-label.right {
  margin-bottom: 10px;
  color: #2e2e2e;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.field-label.rightdropdown {
  width: auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.form {
  position: relative;
  left: 0px;
  top: 0px;
  margin-top: auto;
}

.form.form-right {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: auto;
  margin-right: 28px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.html-embed-2 {
  position: relative;
}

.div-block-3 {
  position: absolute;
  left: 20px;
  top: auto;
  right: auto;
  bottom: 0%;
  margin-right: 20px;
  margin-bottom: 20px;
}

.text-block {
  margin-right: 0px;
  margin-bottom: 0px;
  float: none;
  color: #2e2e2e;
  font-size: 28px;
  font-weight: 700;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.text-block.right {
  position: relative;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 0;
  display: block;
  margin-right: 0px;
  margin-bottom: 10px;
  color: #2e2e2e;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.body {
  -o-object-fit: fill;
  object-fit: fill;
}

.form-right {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-right: 40px;
  padding-top: 20px;
  padding-right: 226px;
  padding-bottom: 336px;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.selectfield {
  height: 38px;
  border-style: solid;
  border-width: 1px;
  border-color: #ed5565;
  border-radius: 10px;
  line-height: 20px;
}

.div-block-5 {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  width: 100%;
  color: silver;
  text-align: center;
}

.text-block-2 {
  margin-right: 10px;
  color: #7e7e7e;
}

.button {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  width: 100px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-right: 15px;
  border: 1px solid #ed5565;
  border-radius: 10px;
  background-color: #fff;
  color: #2e2e2e;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.field-label-copy {
  position: relative;
  color: #2e2e2e;
  font-weight: 700;
  text-align: left;
}

.field-label-copy.right {
  margin-bottom: 10px;
  color: #2e2e2e;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.field-label-copy {
  position: relative;
  color: #2e2e2e;
  font-weight: 700;
  text-align: left;
}

.field-label-copy.right {
  margin-bottom: 10px;
  color: #2e2e2e;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.form-block-left-copy {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: auto;
  margin: 0px 0px 0px 20px;
  padding-top: 20px;
  padding-left: 0px;
}

.form-block-left-copy {
  position: absolute;
  left: auto;
  top: 0%;
  right: 2%;
  bottom: auto;
  width: 20%;
  margin: 0px 0px 0px 20px;
  padding-top: 20px;
  padding-left: 0px;
}

.form-block-left-copy {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 20%;
  margin: 0px 16px 0px 20px;
  padding-top: 20px;
  padding-left: 0px;
}

@media screen and (max-width: 479px) {
  .html-embed {
    height: 40%;
    margin-top: 0%;
  }
  .form-block-left {
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    width: 45%;
    margin-top: 100%;
    margin-left: 10px;
    padding-top: 15px;
  }
  .div-block {
    left: -14px;
    width: 100%;
    margin-top: 0px;
    margin-left: 10px;
  }
  .field-label {
    width: 200%;
    margin-bottom: 1px;
  }
  .field-label.right {
    font-size: 20px;
  }
  .field-label.rightdropdown {
    width: 100%;
    margin-top: -9px;
    padding-top: 2px;
    text-align: right;
  }
  .form {
    position: static;
    width: 100%;
  }
  .form.form-right {
    margin-top: 0px;
    margin-right: 0px;
    text-align: right;
  }
  .div-block-3 {
    position: relative;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    margin-top: 0%;
    font-size: 8px;
  }
  .text-block {
    font-size: 8px;
  }
  .text-block.right {
    left: 5px;
    top: 0%;
    font-size: 14px;
    text-align: right;
  }
  .body {
    height: auto;
  }
  .form-right {
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    margin-top: 152%;
    margin-right: -11px;
  }
  .div-block-5 {
    position: absolute;
    left: 0%;
    top: 75%;
    right: 0%;
    bottom: auto;
  }
  .text-block-2 {
    position: relative;
    left: 0%;
    top: auto;
    right: auto;
    bottom: 0%;
    margin-right: 13px;
    margin-left: 10px;
    font-size: 10px;
  }
  .button {
    position: relative;
    left: auto;
    top: 67%;
    right: 0%;
    bottom: auto;
    width: 100%;
    height: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 14px;
  }
  .field-label-copy.right {
    font-size: 14px;
    text-align: right;
  }
  .field-label-copy.right {
    left: 6px;
    top: 5px;
    font-size: 14px;
  }
  .form-block-left-copy {
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    width: 50%;
    margin-top: 160%;
    padding-top: 15px;
  }
  .form-block-left-copy {
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    width: 50%;
    margin-top: 160%;
    padding-top: 15px;
  }
  .form-block-left-copy {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    width: 45%;
    margin-top: 100%;
    margin-right: 10px;
    padding-top: 1px;
  }
}

